body {
	font-size: 18px;
	font-weight: bold;
	background-image: url(../img/bg.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
#container {
	width: 26em;
	height: 17em;
	margin: 0 auto;
	margin-top:5%;
	/*background-color: seashell;*/
}
#add {
	/*margin-left: 4em;*/
	/*float: right;*/
	
	padding: 1em 2em 0em 2em;
}
.but_add {
	margin-left: 3em;
	width: 25%;
	height: 35px;
	line-height: 30px;
	overflow: hidden;
	border: 1px solid #3079ec;
	background-color: #4b8cf7;
	border-radius: 4px;
	/*margin-left: 50px ;*/
	
	color: white;
	text-align: center;
}
#member {
	/*margin-top: 6em;*/
	/*margin-left: 6.8em;*/
	/*background-color: #87CEFA;*/
}
#about_member {
	padding: 0em 2em 0.5em 2em;
	margin: 0;
}
#add_m {
	width: 1.8em;
	height: 1.8em;
	margin-left: 2em;
	border: hidden;
	border-radius: 0.9em;
	background-image: url(../img/plus.png);
}
.bu {
	margin-left: 8em;
}
.minus {
	width: 1.8em;
	height: 1.8em;
	border: hidden;
	border-radius: 0.9em;
	background-image: url(../img/minus.png);
	margin-left: 2em;
}
#sub {
	margin-left: 3em;
}
.textarea {
	resize: none;
	overflow-x: hidden;
	height: 150px;
	width: 90%;
}